* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  background-color: hsl(0, 0%, 98%);
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
}

.navLinks {
  display: flex;
  gap: 10px;
}

.navLinks a {
  text-decoration: none;
  color: hsl(273, 4%, 51%);
  font-size: 14px;
  font-weight: 700;
}
